#main {
  margin-left: 50px;
}

#container {
  position: relative;
  padding-left: 40px;
  line-height: 20px;
}

#tick {
  position: absolute;
  left: 20px;
  top: 15px;
  color: teal;
}

code {
  width: 60%;
  float: left;
}

#output {
  width: 40%;
  float: left;
  text-align: right;
}
